.inner{
    background-color: #f00;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    text-shadow: 2px 2px 2px #000;
    transition: all 0.5s;
}

/* Duplicate ... But in will be ignored at base*/
div{
    color: rgb(246, 36, 232);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: yellow;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 200px;
    display: inline-block;
    box-shadow: 5px 5px 5px 5px gray;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}